{% extends 'base.html' %}

{% block title %}
Página inicial
{% endblock %}

{% block content %}
<div class="hero">
    <div class="hero-content">
        <div class="left">
            {% if g.user %}
                <h1>¡Hola {{ g.personal['nombre'] }}!</h1>
                <p>No olvides revisar si tienes algún servicio y apuntarte a las comidas lo antes posible.</p>
                <p>¡Y date prisa en reservar pista si quieres echar un partido que vuelan!</p>
            {% else %}
                <h1>¡Bienvenido!</h1>
                <h1>A España servir hasta morir</h1>
                <P>Página web para facilitar tu día a día militar. Queremos que tengas acceso a todos los servicios de tu cuartel desde cualquier parte. ¿Tienes cuenta? Inicia sesión o registrate en el menú superior para acceder a todo el contenido de la página.</P>
                <h2>¿Sabes donde estamos?</h2>
                <p>Haz click en el botón para ver la ubicación y los datos de contacto de la unidad.</p>
                <a href="#mapa" class="btn">Localízanos</a>
            {% endif %}
        </div>
        <div class="right">
            <a target="_blank" href="https://ejercito.defensa.gob.es/"><img src="{{ url_for('static',  filename='imagen/bandera.png') }}" width="600px" /></a>
        </div>
    </div>
</div>

{% include 'main/section-first.html' %}
{% include 'main/section-second.html' %}
{% include 'main/section-third.html' %}

{% endblock %}