<div id="mapa" class="center padded">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>¿Dónde estamos?</h1>
                <p>La Academia de Logística del Ejército de Tierra se encuentra en el Establecimiento Barón de Warsagge, ubicado en la ciudad zaragozana de Calatayud.</p>
                <p>Dirección: Avda de las Fuerzas Armadas, s/n, 50300, Calatayud (Zaragoza)</p>
                <p>Tlf: 876 63 30 00</p> 
                <p>FAX: 876 63 30 13 </p>
            </div>
            <div class="right padded">
                <a target="_blank" href="https://www.google.com/maps/place/Academia+de+Log%C3%ADstica/@41.3535811,-1.6325366,15.31z/data=!4m18!1m12!4m11!1m3!2m2!1d-0.9371042!2d41.2033914!1m6!1m2!1s0xd5b8ed1f268f02b:0x98ed87cbb1b77e1a!2sgoogle+maps+academia+de+logistica!2m2!1d-1.6300752!2d41.3539468!3m4!1s0xd5b8ed1f268f02b:0x98ed87cbb1b77e1a!8m2!3d41.3539468!4d-1.6300752"><img class="map"  src="{{ url_for('static',  filename='imagen/decoration/academia.png') }}" width="400px" /></a>
            </div>
        </div>
    </div>
</div>