<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Actividades principales</h1>
                <p>Cursos de formación</p>
                <p>Cursos de perfeccionamiento</p>
                <p>Seminarios y Jornadas de actualización</p>
            </div>
            <div class="right padded">
                <h1>Instalaciones y servicios</h1>
                <p>Alojamientos logísticos para alumnos, tropa y cuadros de mandos</p>
                <p>Zona de piscina al aire libre para Cuadros de Mando y Tropa</p>
                <p>Biblioteca</p>
                <p>Oficina de apoyo al personal (OFAP)</p>
                <p>Instalaciones Deportivas: Polideportivo cubierto y gimnasio, campos de fútbol sala, pistas de baloncesto, voleibol, tenis, padel, frontón y voley playa</p>
            </div>
        </div>        
    </div>
</div>