<div class="center padded">
    <div class="content padded">
        <div class="padded">
            <h1>¿Quieres estar actualizado? No te pierdas las últimas novedades</h1>    
            <div class="row">
                <div class="card third">
                    <a target="_blank" href="https://twitter.com/EjercitoTierra?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @EjercitoTierra</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <a class="twitter-timeline" href="https://twitter.com/EjercitoTierra?ref_src=twsrc%5Etfw">Tweets by EjercitoTierra</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="card third">
                    <h3>Actos y Eventos</h3>
                    <p>Localiza en el mapa todos los eventos futuros de nuestro ejército.</p>
                    <iframe src="https://www.google.com/maps/d/embed?mid=1s9HjPRQcBAbPhnVYIpnxxKFegelHBeqI" width="280" height="290"></iframe>
                </div>
                <div class="card third">
                    <h3>Misiones Internacionales</h3>
                    <p>Localiza las misiones internaciones en las que participamos.</p>
                    <iframe src="https://www.google.com/maps/d/embed?mid=1HdHbqB7xzl5eNRgSscIH6Of9Q0w&hl=es" width="280" height="290"></iframe>
                </div>
            </div>
        </div>    
    </div>
</div>