<div id="mapa" class="center padded">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>¿Dónde estamos?</h1>
                <p>La Academia de Logística del Ejército de Tierra se encuentra en el Establecimiento Barón de Warsagge, ubicado en la ciudad zaragozana de Calatayud.</p>
                <p>Dirección: Avda. de las Fuerzas Armadas, s/n, 50300, Calatayud (Zaragoza)</p>
                <p>Tlf: 876 63 30 00</p> 
                <p>FAX: 876 63 30 13 </p>
            </div>
            <div class="right padded">
                <a target="_blank" href="https://www.google.com/maps/place/Academia+de+Log%C3%ADstica+del+Ej%C3%A9rcito+de+Tierra./@41.3539121,-1.6324451,17z/data=!3m1!4b1!4m5!3m4!1s0xd5b8ed27273f767:0x21671d4c25f7728e!8m2!3d41.3539121!4d-1.6302511"><img class="map"  src="{{ url_for('static',  filename='imagen/decoration/academia.png') }}" width="400px" /></a>
            </div>
        </div>
    </div>
</div>