{% extends 'base.html' %}

{% block title %}
Apuntarse
{% endblock %}

{% block content %}
<div class="center padded">
    <div class="vs-menu">
        <div class="">
            <h1 class="center">SERVICIO DE COMIDAS DE LA ACLOG</h1>
            <h2 class="center">Semana del 16/08/21 al 22/08/21</h2>
        </div>
        <div class="padded center">
           <form class="menu-form" method="POST" autocomplete="off">
                <div class="row">
                    <div class="day seven">
                        <h3 class="center">Lunes</h3> <hr>
                        <input type="checkbox" name="desayuno_lunes" id="desayuno_lunes" value="1">
                        <label for="desayuno_lunes">Desayuno</label> <br>
                        <input type="checkbox" name="comida_lunes" id="comida_lunes" value="1">
                        <label for="comida_lunes">Comida</label> <br>
                        <input type="checkbox" name="cena_lunes" id="cena_lunes"value="1">
                        <label for="cena_lunes">Cena</label>
                    </div>
                    <div class="day seven" >
                        <h3 class="center">Martes</h3> <hr>
                        <input type="checkbox" name="desayuno_martes" id="desayuno_martes" value="1">
                        <label for="desayuno_martes">Desayuno</label> <br>
                        <input type="checkbox" name="comida_martes" id="comida_martes" value="1">
                        <label for="comida_martes">Comida</label> <br>
                        <input type="checkbox" name="cena_martes" id="cena_martes" value="1">
                        <label for="cena_martes">Cena</label>
                    </div>
                    <div class="day seven">
                        <h3 class="center">Miércoles</h3> <hr>
                        <input type="checkbox" name="desayuno_miercoles" id="desayuno_miercoles" value="1">
                        <label for="desayuno_miercoles">Desayuno</label> <br>
                        <input type="checkbox" name="comida_miercoles" id="comida_miercoles" value="1">
                        <label for="comida_miercoles">Comida</label> <br>
                        <input type="checkbox" name="cena_miercoles" id="cena_miercoles" value="1">
                        <label for="cena_miercoles">Cena</label>
                    </div>
                    <div class="day seven">
                        <h3 class="center">Jueves</h3> <hr>
                        <input type="checkbox" name="desayuno_jueves" id="desayuno_jueves" value="1">
                        <label for="desayuno_jueves">Desayuno</label> <br>
                        <input type="checkbox" name="comida_jueves" id="comida_jueves" value="1">
                        <label for="comida_jueves">Comida</label> <br>
                        <input type="checkbox" name="cena_jueves" id="cena_jueves" value="1">
                        <label for="cena_jueves">Cena</label>
                    </div>
                    <div class="day seven">
                        <h3 class="center">Viernes</h3> <hr>
                        <input type="checkbox" name="desayuno_viernes" id="desayuno_viernes" value="1">
                        <label for="desayuno_viernes">Desayuno</label> <br>
                        <input type="checkbox" name="comida_viernes" id="comida_viernes" value="1">
                        <label for="comida_viernes">Comida</label> <br>
                        <input type="checkbox" name="cena_viernes" id="cena_viernes" value="1">
                        <label for="cena_viernes">Cena</label>
                    </div>
                    <div class="day seven">
                        <h3 class="center">Sábado</h3> <hr>
                        <input type="checkbox" name="desayuno_sabado" id="desayuno_sabado" value="1">
                        <label for="desayuno_sabado">Desayuno</label> <br>
                        <input type="checkbox" name="comida_sabado" id="comida_sabado" value="1">
                        <label for="comida_sabado">Comida</label> <br>
                        <input type="checkbox" name="cena_sabado" id="cena_sabado" value="1">
                        <label for="cena_sabado">Cena</label>
                    </div>
                    <div class="day seven">
                        <h3 class="center">Domingo</h3> <hr>
                        <input type="checkbox" name="desayuno_domingo" id="desayuno_domingo" value="1">
                        <label for="desayuno_domingo">Desayuno</label> <br>
                        <input type="checkbox" name="comida_domingo" id="comida_domingo" value="1">
                        <label for="comida_domingo">Comida</label> <br>
                        <input type="checkbox" name="cena_domingo" id="cena_domingo" value="1">
                        <label for="cena_domingo">Cena</label>
                    </div>
                </div>
                <div class="row center">
                    <input class="special center" type="submit" value="Enviar">
                    <input class="special center" type="reset">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}