{% extends 'base.html' %}

{% block title %}
Apuntarse
{% endblock %}

{% block content %}
<div class="center padded">
    <div class="vs-menu">
        <div class="">
            <h1 class="center">SERVICIO DE COMIDAS DE LA ACLOG</h1>
            <h2 class="center">Semana del {{ context.fecha_inicio.strftime('%d-%m-%Y') }} al {{ context.fecha_fin.strftime('%d-%m-%Y') }}</h2>
        </div>
        <div class="padded center">
           <form class="menu-form" method="POST" autocomplete="off">
                <div class="row">
                    {% for (kdia, dia) in context.dias %}
                        <div class="day seven">
                            <h3 class="center">{{dia}}</h3> <hr>
                            {% for (kturno, turno) in context.turnos %}
                                <div>
                                    <input type="checkbox" name="{{kturno}}_{{kdia}}" 
                                    id="{{kturno}}_{{kdia}}" value="{{kturno}}_{{kdia}}">
                                    <label for="{{kturno}}_{{kdia}}">{{turno}}</label> 
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div class="row center">
                    <input class="special center" type="submit" value="Enviar">
                    <input class="special center" type="reset">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}