{% extends 'base.html' %}

{% block title %}
Deporte
{% endblock %}

{% block content %}
<div class="center padded">
    <div class="content vs-menu">
        <div class="row vert-pad">
            <div class="left padded">
                <img src="{{ url_for('static',  filename='deporte.png') }}" width="500px" />
            </div>
            <div id="contacto" class="right padded">
                <h1>Deporte</h1>
                <p>Aquí puedes reservar las instalaciones deportivas de la ACLOG seleccionando el deporte que quieres practicar.</p>
                <p>El horario es de 16:00 a 21:00.</p>
                <form class="form" method="POST">
                    <label for="fecha">Fecha:</label> <br>
                    <input class="dato" type="datetime-local" name="fecha" id="fecha" required> <br>
                    <label for="deporte">Deporte:</label> <br>
                    <select class="dato" name="deporte" id="deporte" required>
                        <option value="padel">Padel</option>
                        <option value="tenis">Tenis</option>
                        <option value="futbol">Fútbol</option>
                        <option value="baloncesto">Baloncesto</option>
                        <option value="voley">Vóley playa</option>
                        <option value="polideportivo">Polideportivo</option>
                        <option value="gimnasio">Gimnasio</option>
                    </select> <br>
                    <input type="submit" class="btn" value="Enviar">
                </form>
                {% for ms in get_flashed_messages() %}
                <div class="flash">{{ ms }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}