{% extends 'base.html' %}

{% block title %}
Deporte
{% endblock %}

{% block content %}
<div class="center padded">
    <div class="content vs-menu">
        <div class="row vert-pad">
            <div class="left padded">
                <img src="{{ url_for('static',  filename='imagen/decoration/deporte.png') }}" width="500px" />
            </div>
            <div id="contacto" class="right padded">
                <h1>Deporte</h1>
                <p>Aquí puedes reservar las instalaciones deportivas de la ACLOG seleccionando el deporte que quieres practicar.</p>
                <p>Horario: <br>
                    Lunes a Viernes de 16:00 a 21:00 <br>
                    Sábado y domingo de 9:00 a 21:00</p>
                <form class="form" method="POST" autocomplete="off">
                    
                    <input class="dato" name="fecha" id="fecha" required> <br>
                    
                    <select class="dato2" name="deporte" id="deporte" required>
                        <option value="padel">Padel</option>
                        <option value="tenis">Tenis</option>
                        <option value="futbol">Fútbol</option>
                        <option value="baloncesto">Baloncesto</option>
                        <option value="voley">Vóley</option>
                        <option value="voley_playa">Vóley playa</option>
                        <option value="polideportivo">Polideportivo</option>
                        <option value="gimnasio">Gimnasio</option>
                    </select> <br>
                    <input type="submit" class="btn" value="Reservar">
                </form>
                
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/static/js/datetimepicker/jquery.datetimepicker.css"/ >
<script src="/static/js/datetimepicker/jquery.js"></script>
<script src="/static/js/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
<script>
    var logic = function( currentDateTime ){
        if (( currentDateTime.getDay()==6 )  || ( currentDateTime.getDay()==0 )) {
            this.setOptions({
                minTime:'9:00'
            });
        }else
            this.setOptions({
                minTime:'16:00'
            });
    };
    $.datetimepicker.setLocale('es');
    $('#fecha').datetimepicker({
        format:'Y/m/d H:00',
        minDate:0,
        minTime:'16:00',
        maxTime:'21:00',
        maxDate:'+1970/04/03',
        inline:true,
        onChangeDateTime:logic,
        onShow:logic,
        dayOfWeekStart:1,
        yearStart: 2021,
        yearEnd: 2022
    });
</script>

{% endblock %}