{% extends 'base.html' %}

{% block title %}
S. de Orden
{% endblock %}

{% block content %}
<div class="center padded">
    <div class="content vs-menu">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>SERVICIOS DE ORDEN</h1>
                <p>Les recordamos que estos servicios pueden ser modificados si el servicio lo requiere.</p>
                <div class="menu">
                    <ul>
                        <li>
                            <button id="slide1">L</button>
                        </li>
                        <li>
                            <button id="slide2">M</button>
                        </li>
                        <li>
                            <button id="slide3">X</button>
                        </li>
                        <li>
                            <button id="slide4">J</button>
                        </li>
                        <li>
                            <button id="slide5">V</button>
                        </li>
                        <li>
                            <button id="slide6">S</button>
                        </li>
                        <li>
                            <button id="slide7">D</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="contacto" class="right padded servicios_ord">
                <img id="servicio" src="{{ url_for('static',  filename='imagen/orden/orden_lunes.png') }}" width="600px" />
            </div>
        </div>
    </div>
</div>

<script>
    let img = document.querySelector('#servicio');
    let slide1 = document.querySelector('#slide1');
    let slide2 = document.querySelector('#slide2');
    let slide3 = document.querySelector('#slide3');
    let slide4 = document.querySelector('#slide4');
    let slide5 = document.querySelector('#slide5');
    let slide6 = document.querySelector('#slide6');
    let slide7 = document.querySelector('#slide7');

    slide1.addEventListener('click', () => {
        img.src = "{{ url_for('static',  filename='imagen/orden/orden_lunes.png') }}"
    })

    slide2.addEventListener('click', () => {
        img.src = "{{ url_for('static',  filename='imagen/orden/orden_martes.png') }}"
    })

    slide3.addEventListener('click', () => {
        img.src = "{{ url_for('static',  filename='imagen/orden/orden_miercoles.png') }}"
    })

    slide4.addEventListener('click', () => {
        img.src = "{{ url_for('static',  filename='imagen/orden/orden_jueves.png') }}"
    })

    slide5.addEventListener('click', () => {
        img.src = "{{ url_for('static',  filename='imagen/orden/orden_viernes.png') }}"
    })

    slide6.addEventListener('click', () => {
        img.src = "{{ url_for('static',  filename='imagen/orden/orden_sabado.png') }}"
    })

    slide7.addEventListener('click', () => {
        img.src = "{{ url_for('static',  filename='imagen/orden/orden_domingo.png') }}"
    })
</script>

{% endblock %}

