{% extends 'base.html' %}

{% block title %}
Enviado
{% endblock %}

{% block content %}
<div class="hero">
    <div class="hero-content">
        <div class="left">
            <h1>¡Lo sentimos {{ g.personal['nombre'] }}!</h1>
            <h2>El formulario para reservar comidas está cerrado.</h2>
            <p>Te recordamos que el plaza máximo para hacer las reservas es hasta el miércoles.</p>
        </div>
        <div class="right vert-pad">
            <img src="{{ url_for('static',  filename='imagen/decoration/close.png') }}" width="450px" />
        </div>
    </div>
</div>
{% endblock %}