{% extends 'base.html' %}

{% block title %}
Sugerencias
{% endblock %}

{% block content %}
<div class="center padded">
    <div class="content vs-menu">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>¿Tienes alguna sugerencia?</h1>
                <p>Nos encanta recibir nuevas propuestas o ideas que nos ayuden a mejorar esta web. Todas las ideas son recibidas y tenidas en cuenta en igualdad de condiciones. Si realmente pensamos que lo que nos propones es útil, te lo harémos saber con un mensaje de agradecimiento y con suerte... ¡la página actualizada!</p>
            </div>
            <div id="contacto" class="right padded">
                <form class="contact-form" method="POST" action="{{ url_for('main.mail') }}" autocomplete="off">
                    <input value="{{ g.personal['nombre'] }}" class="full-width" name="name" id="name" type="text" readonly />
                    <input value="{{ g.personal['correo'] }}" class="full-width" name="email" id="email" type="email" readonly />
                    <textarea placeholder="Mensaje" name="message" id='message' required minlength="10"></textarea>
                    <input type="submit" class="btn full-width" value="Enviar" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}