{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}



{% block content %}
<div class="hero grey">
    <div class="hero-content">
        <div class="left">
            <div id="contacto" class="left padded">
                <form class="form" method="POST" autocomplete="off">
                    <input type="text" class="dato" placeholder="TIM o Correo corporativo" name="usuario" id="usuario" required />
                    <input class="dato" id="password" name="password" placeholder="Contraseña" type="password" required /> <br>
                    <input type="submit" class="btn" value="Iniciar sesión">
                </form>
            </div>
        </div>
        <div class="right vert-pad">
            <img src="{{ url_for('static',  filename='imagen/decoration/login.png') }}" width="600px" />
        </div>
    </div>
</div>
{% endblock %}