{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="hero grey">
    <div class="hero-content">
        <div class="left">
            <div id="contacto" class="left padded">
                <form class="form" method="POST">
                    <input class="dato" placeholder="TIM" name="tim" id="tim" maxlength="7" required />
                    <input class="dato" id="password" name="password" placeholder="Contraseña" type="password" required />
                    <input type="submit" class="btn" value="Iniciar sesión">
                </form>
                {% for ms in get_flashed_messages() %}
                <div class="flash">{{ ms }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="right vert-pad">
            <img src="{{ url_for('static',  filename='login.png') }}" width="600px" />
        </div>
    </div>
</div>
{% endblock %}