{% extends 'base.html' %}

{% block title %}
Registro
{% endblock %}

{% block content %}
<div class="hero grey">
    <div class="hero-content">
        <div class="left vs-menu">
            <div id="contacto" class="left padded">
                <form class="form" method="POST" autocomplete="off">
                    <input type="email" class="dato" placeholder="Correo corporativo" name="correo" id="correo" required />
                    <input class="dato" placeholder="TIM" name="tim" id="tim" maxlength="7" required />
                    <input class="dato" id="password" name="password" placeholder="Contraseña" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="El tamaño mínimo es 8, debes incluir al menos un número, una minúscula y una mayuscula." required /> <br>
                    <input class="dato" id="password_repeat" name="password_repeat" placeholder="Confirma la contraseña" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="El tamaño mínimo es 8, debes incluir al menos un número, una minúscula y una mayuscula." required /> <br>
                    <input type="submit" class="btn" value="Registrarse">
                </form>
            </div>
        </div>
        <div class="right vert-pad vs-menu">
            <img src="{{ url_for('static',  filename='imagen/register.png') }}" width="450px" />
        </div>
    </div>
</div>
{% endblock %}